<!DOCTYPE html>
<html>
<!-- head -->
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body class="container">
    <div class="container col-12">
        <div class="row col-12">
            <div class="contact-div col-12">
                <h1 class="contact-title col-12">Contacto</h1>
                <div class="col-12 col-md-4">
                    <h3 class="contact-title2 col-12">Teléfono</h3>
                    <p class="col-12">+5492613026278</p>
                    <h3 class="contact-title2 col-12">Email</h3>
                    <p class="col-12">bell-hogar@gmail.com</p>
                </div>
                <div class="col-12 col-md-8">
                    <h3 class="contact-title2 col-12">¿Dónde estamos?</h3>
                    <iframe class="col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.8277723751366!2d-68.69952508525557!3d-32.90272157699508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e121e9c226ced%3A0x282b5b3cdc12e605!2sBell%20Hogar!5e0!3m2!1ses-419!2sar!4v1596829149986!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>