<!DOCTYPE html>
<html lang="en">
    <!-- head -->
  <%- include('./partials/head') %>
  <body class="container">
<body>
    <div class="cointainer">
        <div class="row">
            <div class="edit-error-box col-12">
                <img src="/images/Logo.png" class="logo-error" alt="">
                <h1 class="title-error">La ruta a la que querés acceder no existe, volvé atrás para seguir navegando</h1>
                <br><input type="button" onclick="history.back()" class="error-button" id="IngresoLog" name="volver atrás" value="Volver atrás">    
            </div>
        </div>
    </div>
</body>
</html>
