<!DOCTYPE html>
<html>
<!-- head -->
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body class="container">
    <div class="container col-12">
        <div class="row col-12">
            <div class="faqs-div col-12">
                <h1 class="contact-title">Preguntas frecuentes</h1>
                <h4>Formas de pago</h3>
                <p>Ahora 12, ahora 18 o 15% de descuento pagando en efectivo o mediante transferencia</p>
                <h4>Métodos de entrega</h3>
                <h5>Envíos a todo el país</h4>
                <p>Dentro de Mendoz elcosto será según la zona a entregar. El mismo se abonará en mano al transportista el mismo día de la entrega. El envío tiene incluida la subida por ascensor. En el caso de tener que realizar la subida por escalera, tendrá un costo adicional de $200 por piso por mueble a subir. 
                </p>
                <h5>Para envíos a otras provincias</h4>
                    <ul>
                        <li>- El valor del embalaje y flete hasta el transporte de su preferencia tiene un costo de $1400.</li> 
                        <li>- El viaje desde el transporte al domicilio se abonará a la empresa encargada del traslado al momento de recibirlo.</li>              
                    </ul>
                <h5>Retiro en depósito</h4>
                <p>Una vez que el pedido esté listo, se podrán retirar los productos por nuestro deposito, dentro del horario de atención del mismo.</p>
                <h4>Garantía</h3>
                <p>Todos nuestros productos cuentan con garantía.</p>
                <ul>
                    <li>- Productos importados: 12 meses</li>
                    <li>- Sofás a medida 5 años de garantía estructural.</li>
                    <li>- Sofa cama línea económica: 3 meses</li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>