<footer>
    <div class="container footer">
      <div class="row">
        <div class="contacto col-12 col-lg-3">
          <ul class="contacto-lista">
            <a href="http://localhost:3000/contacto" target="_blank"><h6 class="footer-titulo">Contacto</h6></a>
            <a href="http://localhost:3000/contacto" target="_blank"><li>Dirección</li></a>
            <a href="http://localhost:3000/contacto" target="_blank"><li>Teléfono</li></a>
            <a href="http://localhost:3000/contacto" target="_blank"><li>Mail</li></a>
          </ul>
        </div>
        <div class="suscribite col-12 col-lg-3">
          <h6 class="footer-titulo">Suscribite a nuestro newsletter para recibir las mejores ofertas</h6>
          <form action="/" method="POST">
            <input  name="email" id="email" type="email" placeholder=" Tu mail">
            <button type="submit" class="suscripcipn-btn">Suscribirme</button>
          </form>
        </div>
        <div class="preguntas col-12 col-lg-3">
          <ul>
            <a href="http://localhost:3000/faqs" target="_blank"><h6 class="footer-titulo">Preguntas frecuentes</h6></a>
            <a href="http://localhost:3000/faqs" target="_blank"><li>Medios de pago</li></a>
            <a href="http://localhost:3000/faqs" target="_blank"><li>Envíos</li></a>
            <a href="http://localhost:3000/faqs" target="_blank"><li>Garantía</li></a>
          </ul>
        </div>
        <div class="redes col-12 col-lg-3">
          <ul class="redes-lista">
            <h6 class="footer-titulo">Seguinos en las redes sociales</h6>
            <a href=""><i class="fab fa-instagram redes-icono"></i></a>
            <a href="https://www.facebook.com/Bell-Hogar-788461511300179/" target="_blank"><i class="fab fa-facebook redes-icono"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5492613026278&text=Hola!%20Quiero%20consultar%20por%20uno%20de%20sus%20productos" target="_blank"><i class="fab fa-whatsapp redes-icono"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>

